.title {
	font-family: 'Arial';
	color: white;
}

.beginButton {
	background-color:#44c767;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Arial';
	font-size: 17px;
	padding:10px 52px;
	text-decoration: none;
	vertical-align: middle;
}

#color {
	border-radius:0px;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 40px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}