#minimap-container {
	width: 30vh; 
	height: 30vh; 
	border-radius: 10px;
	bottom: 40px;
	left: 40px;
	position: absolute;
	z-index: 1;
}

#interface-container {
	width: 420px; 
	height: 100px; 
	border-radius: 10px;
	bottom: 40px;
	left: 50px;
	position: absolute;
	z-index: 1;
}